.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar li {
  display: inline-block;
  margin-right: 25px;
  text-align: center;
 
}

.navbar a {
  text-decoration: none;
  color: white; 
 
}
link{
  text-align: center;
}

.content {
  padding: 20px; 
  text-align: center;
  
}
.navbar {
  background-color: #671279; 
  padding: 15px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:20px
}
img {
  width: 100px; 
  height: auto; 
  display: inline-block;
}
